<!doctype html>
<html>
  <!--
  This handlebars template's job is to render the HTML shell
  for our React SPA. It could eventually be expanded upon to
  support server-side react rendering and bootstrapping.
  -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script defer src="/js/main.js"></script>
  </head>
  <body>
    <div id="app"><!-- the SPA will live here --></div>
  </body>
</html>
